<DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<!--Link to STyleSheet -->
		<link rel="StyleSheet" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<header>
			<h1>Facial Detection with Facenet Pytorch and MTCNN</h1>
		</header>
		<div id="login">
			<h1>Predict the Faces</h1>
			<!--Main input to the model-->
			<form action="{{ url_for('predict')}}" method="post", enctype="multipart/form-data">
				<input type="text" name="image_size" placeholder="image_size" />
				<input type="text" name="image_margin" placeholder="image_margin" />
				<input type="file" id="image" name="image" placeholder="Image containing atleast one face"/>
				<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
				<input type="url" id="url" name="url" placeholder="url containing atleast one face"/>
				<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
			</form>
			
			<br>
			<br>
			
			{{faces}}
			
			<div id="auto">
			<image src="{{prediction_text}}" alt="Predicition">
			</div>
			
			<ul>{% for your_list_element in your_list %}</ul>
			<p>{{ your_list_element }} </p>
			{% endfor %}
		</div>
	</body>
<html>