<DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home</title>
		<!--Link to STyleSheet -->
		<link rel="StyleSheet" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<header>
			<h1>Facial Detection with Facenet Pytorch and MTCNN</h1>
		</header>
		<div id="login">
			<h1>Predict the Faces</h1>
			<!--Main input to the model-->
			<form action="{{ url_for('predict')}}"method="post">
				<input type="file" id="image" name="image" placeholder="Image containing atleast one face" required="required" enctype="multipart/form-data"/>
				
				
				<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
			</form>
			
			<br>
			<br>
			{{ prediction_text }}
		
		</div>
	</body>
<html>